header {
    background-color: #e6e6e6; 
    color: white;
    font-family: Arial;
}

footer {
    background-color: #e6e6e6;
    color: #262626;
    font-family: Arial;
    font-size: small;
}
.sectionsWidth {
    width: 50%;
}

#mainSection {
    margin-top: 4em;
    margin-bottom: 4em;
    width: 100%;
}

#paypal {
    margin-bottom: 5em;
    display: none;
    margin: 0.75em;
}

.paypalButton {
    height: 2em;
    width: 4em;
    margin: 0.25em;
}

.inputPayPal {
    height: 1.75em;
    width: 16em;
    margin-left: 0.5em;
}

.horizontalStack {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    height: 3em auto;
}

.horizontalStackSpaced {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    height: 3em auto;
}

.verticalStack {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    height: 3em auto;
    font-family: Arial;
}

.logoImage {
    height: 8em;
   /* background-color: white;*/
    padding-top: 3px;
    padding-bottom: 3px;
    align-self: flex-start;
}

.logoBackgroundGradient {
    background: #262626; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #3399CC, #7D6FDC, #C266CC , #FF9933); /* Standard syntax */
    opacity: 0.9;
}

.elementMargin {
    margin: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.9;
}

.linkButton {
    background-color: #404040;
    opacity: 0.8;
    border-radius: 12px;
    box-shadow: 2px 2px 1px #222222;
}